.clear{clear:both;}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}

.area_left{
	margin-left:-160px;
	float:left;
	}
.area_right p{
	font-size:28px;
	padding-top:40px;
	padding-right:30px;
	}
.photo{
	float:right;
	margin-top:-400px;
	margin-left:300px;
	}